body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: white;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    justify-content: flex-end;
  }
  
  .body {
    margin-left: 2%; 
    margin-bottom: 20px; 
    margin-right: 40%;
  }

  a { 
    color: black;
  }
  
  .body a {
    color: black;
    display: block;
    margin-bottom: 10px; 
  }

  @media (max-width: 1500px) { 
    body {
      align-items: left; 
      justify-content: flex-start; 
      margin-bottom: 20px; 
    }
  }