body {
    font-family: 'Roboto', sans-serif !important; 
    font-weight: 400 !important;
    background-color: white;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    justify-content: flex-end;
  }
  
  .container { 
    margin-left: 10%;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }
  
  .container h2 {
    font-size: 2em; 
    margin: 0;
  }
  
  .container form { 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 300px; 
    margin: 0; 
    padding: 0; 
  }
  
  .container input,
  .container button { /* Apply these styles to both input and button */
    padding: 8px 16px;  /* Consistent padding */
    border: none;
    font-family: inherit !important; 
    width: 100%; 
    margin-left: -15px;
    margin-top: 5px; 
    font-size: 1em; /* Consistent font size */
    line-height: 1.5em; /* Consistent line height (optional) */
  }
  
  .container button {
    background-color: transparent;
    color: black;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
  }

  @media (max-width: 1500px) { /* Adjust the breakpoint as needed */
    body {
      align-items: flex-start; /* Center content on smaller screens */
      margin-bottom: 20%; /* Add margin to the bottom */
    }
  }
  