body {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    min-height: 100vh; 
    margin: 0; 
  }

  @media (max-width: 1500px) { 
    body {
      align-items: center; /* Center content horizontally */
      justify-content: flex-start; /* Align content to the top */
      margin-bottom: 20px; 
    }
  }