body {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    min-height: 100vh; 
    margin: 0; 
  }

  @media (max-width: 1500px) { 
    body {
      align-items: center; 
      justify-content: flex-start;
      margin-bottom: 20px; 
    }
  }